#bombs-game-section{
    margin: 50px 0 140px;
    display: flex;
    flex-direction: column;
}




div.square{
    border-radius: 10px;
    height: 110px;
    width: 110px;
    background-color: #2F4553;
    box-shadow: 
    0px 2px 0px #213743,
    0px 4px 0px #213743,
    0px 6px 0px #213743;
    transition: 0.3s transform;
    cursor: pointer;
}
div.square:hover{
    background-color: #557086;
    box-shadow: 
    0px 2px 0px #192a33,
    0px 4px 0px #192a33,
    0px 6px 0px #192a33;
    transform: translateY(-5px);
}
div.square:hover:active{
    transform: translateY(5px);
}

div.faceUpSafe, div.faceUpBomb{
    background-color: #071824;
    box-shadow: none;
    height: 110px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.square.faceUpSafe:hover, div.square.faceUpBomb:hover{
    background-color: #071824;
    box-shadow: none;
    transform: none;
}

div.square.faceUpSafe:hover:active {
    transform: none;
}


.faceUpSafe img{
    width: 100px;
    height: 100px;
}
.faceUpBomb img{
    width: 80px;
    height: 80px;
}


div.square.faceUpBomb:hover:active {
    transform: none;
}
/* Animacja kliknięcia */
div.square:active {
    transform: scale(1.2);
}
.dim {
    opacity: 0.4;
    background-color: #000;
}


/* Animacja odkrywania bomby */
@keyframes revealBomb {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Animacja odkrywania diamentu */
@keyframes revealDiamond {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Przypisanie animacji do odpowiednich klas */
div.faceUpBomb img {
    animation: revealBomb 0.5s ease-out;
}

div.faceUpSafe img {
    animation: revealDiamond 0.5s ease-out;
}



.squares{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    max-width: auto;
    gap: 15px;
    max-width: 620px;
    position: relative;
}
.squares-container{
    padding: 20px 50px;
    background-color: #0d1a24;
}
.bombs-container{
    position: relative;
    display: flex;
    gap:15px;
    background-color: #213743;
    border-radius: 10px;
    padding-bottom: 10px;
}
.number-of-bombs-panel .bet-text{
    margin-bottom: 6px;
}











